@charset "UTF-8";
@import "./novel-tex/basic/include.css";
@import "./novel-tex/warm/basic-warm-config.css";

:root {
  /*
  目录树颜色
  */
  --active-file-bg-color: #f1deae;
  --active-file-text-color: var(--text-color);

  /*
  界面UI的字体颜色
  */
  --item-hover-bg-color: var(--active-file-bg-color);
  --item-hover-text-color: var(--active-file-text-color);

  --code-bg-color: #F9F4E7;
  --sidebar-bg-color: #F9F4E7;
}