@import "./code-warm.css";

:root {
  --text-color: black;
  --link-color: #7e8b92;

  --primary-btn-text-color: black;
  --bg-color: #faf8f0;

  --border-color-rgb: 0, 0, 0;

  --select-text-bg-color: rgb(218, 227, 234);
  --select-text-font-color: var(--text-color);

  --li-code-bg-color: rgb(238, 238, 238);

  /*改变元字符的颜色，例如 markdown 中的“*”*/
  --md-char-color: #612b2b;
  /*改变元内容的颜色，例如 markdown 中的图像文本和链接地址*/
  --meta-content-color: #12313c;
}